<div>
    <h2 id="page-heading">
        <span jhiTranslate="iptvmanagerApp.categorieVOD.home.title">Categorie VODS</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-categorie-vod" [routerLink]="['/categorie-vod/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iptvmanagerApp.categorieVOD.home.createLabel">
            Create a new Categorie VOD
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="categorieVODS?.length === 0">
        <span jhiTranslate="iptvmanagerApp.categorieVOD.home.notFound">No categorieVODS found</span>
    </div>
    <div class="table-responsive" *ngIf="categorieVODS?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="libele"><span jhiTranslate="iptvmanagerApp.categorieVOD.libele">Libele</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="iptvmanagerApp.categorieVOD.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let categorieVOD of categorieVODS ;trackBy: trackId">
                <td><a [routerLink]="['/categorie-vod', categorieVOD.id, 'view' ]">{{categorieVOD.id}}</a></td>
                <td>{{categorieVOD.libele}}</td>
                <td>{{categorieVOD.description}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/categorie-vod', categorieVOD.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/categorie-vod', categorieVOD.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(categorieVOD)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="categorieVODS?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
