<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-abonnement-heading" jhiTranslate="iptvmanagerApp.abonnement.home.createOrEditLabel">Create or edit a Abonnement</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iptvmanagerApp.abonnement.libelle" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                           formControlName="libelle"/>
                    <div *ngIf="editForm.get('libelle')!.invalid && (editForm.get('libelle')!.dirty || editForm.get('libelle')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('libelle')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iptvmanagerApp.abonnement.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iptvmanagerApp.abonnement.dateDebut" for="field_dateDebut">Date Debut</label>
                    <div class="input-group">
                        <input id="field_dateDebut" type="text" class="form-control" name="dateDebut" ngbDatepicker  #dateDebutDp="ngbDatepicker" formControlName="dateDebut"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateDebut')!.invalid && (editForm.get('dateDebut')!.dirty || editForm.get('dateDebut')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateDebut')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iptvmanagerApp.abonnement.dateFin" for="field_dateFin">Date Fin</label>
                    <div class="input-group">
                        <input id="field_dateFin" type="text" class="form-control" name="dateFin" ngbDatepicker  #dateFinDp="ngbDatepicker" formControlName="dateFin"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateFin')!.invalid && (editForm.get('dateFin')!.dirty || editForm.get('dateFin')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateFin')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iptvmanagerApp.abonnement.lienRessourceVOD" for="field_lienRessourceVOD">Lien Ressource VOD</label>
                    <input type="text" class="form-control" name="lienRessourceVOD" id="field_lienRessourceVOD"
                           formControlName="lienRessourceVOD"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iptvmanagerApp.abonnement.lienRessourceTv" for="field_lienRessourceTv">Lien Ressource Tv</label>
                    <input type="text" class="form-control" name="lienRessourceTv" id="field_lienRessourceTv"
                           formControlName="lienRessourceTv"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iptvmanagerApp.abonnement.statut" for="field_statut">Statut</label>
                    <select class="form-control" name="statut" formControlName="statut" id="field_statut">
                        <option value="ACTIVE">{{'iptvmanagerApp.StatutAbonnement.ACTIVE' | translate}}</option>
                        <option value="DESACTIVE">{{'iptvmanagerApp.StatutAbonnement.DESACTIVE' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iptvmanagerApp.abonnement.packages" for="field_packages">Packages</label>
                    <select class="form-control" id="field_packages" name="packages" formControlName="packagesId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="packagesOption.id" *ngFor="let packagesOption of packages; trackBy: trackById">{{packagesOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iptvmanagerApp.abonnement.client" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" formControlName="clientId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackById">{{clientOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
